<form class="form form--border border-green-bot mt-3 mb-5" action="">
    <div class="container p-0">
        <div class="row">
            <div class="col-12">
                <h4 class="form__title">Ile potrzebujesz?</h4>
                <div class="form-group row mb-0">
                    <label for="amount" class="col-6 col-form-label">Kwota</label>
                    <div class="col-6">
                        <input type="number" class="form-control form-control--black" id="amount"
                            placeholder="300 000 zł" />
                    </div>
                    <div class="col-12 pt-1 pb-1">
                        <input type="range" class="slider" id="amountRange" min="1" max="1000000" value="650000" />
                    </div>
                </div>
                <div class="form-group row mb-0">
                    <label for="repayment" class="col-6 col-form-label">Okres spłaty</label>
                    <div class="col-6">
                        <input type="number" class="form-control form-control--black" id="repayment"
                            placeholder="35 lat" />
                    </div>
                    <div class="col-12 pt-1 pb-1">
                        <input type="range" class="slider" id="amountRepayment" min="1" max="100" value="100" />
                    </div>
                </div>
                <div class="form-group p-0">
                    <input type="text" class="form-control" placeholder="Imię*" />
                    <input type="tel" class="form-control" placeholder="Telefon*" />
                    <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Adres e-mail" />
                </div>
                <div class="form-group p-0">
                    <div class="form-group p-0">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1" />
                            <label class="custom-control-label" for="customCheck1">
                                Wyrażam zgodę na przetwarzanie moich danych osobowych,
                                które pozostawiam w powyższym formularzu celem kontaktu od
                                pośrednika Biura Kredytowe BKR. Potwierdzam zapoznanie się
                                z klauzulą informacyjną i rozumiem, że wyrażoną zgodę mogę
                                cofnąć pisząc na adres emila biuro@bkrkredyt.pl, a tym
                                samym mojej dane dane zostaną usunięte.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group p-0 text-center">
                    <button type="submit" class="btn">
                        Chcę pożyczkę
                    </button>
                </div>
                <h5 class="form__end">Nasz doradca oddzwoni do Ciebie</h5>
            </div>
        </div>
    </div>
</form>