.header {
  position: relative;
  overflow: hidden;
}

.img-container {
  position: absolute;
  background-image: url('/assets/img/header/header.jpg');
  height: 500px;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  background-position: 16% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
}

@media (min-width: 992px) {
  .img-container {
    height: 750px;
  }
}

//NAVBAR

.navbar {
  padding: 0.5rem 0;

  &__logo {
    max-width: 100%;
    height: auto;
  }

  &__img {
    margin-right: 10px;
  }
}

.navbar-toggler {
  outline: none;
  border: none;
}

.navbar-collapse {
  z-index: 99999;
  border-radius: 10px;
  margin-top: 1.5rem;
  background-color: rgb(8, 143, 110);
}

@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: 0;
    background-color: transparent;
  }

  .custom-list {
    display: inline;
  }
}

.nav-link {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  border: none;
  transition: 0.3s ease;

  &--effect:hover {
    color: #fdd920;
  }

  &--phone {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }

  &--gray {
    color: #cccccc;
  }
}

//CREDIT

.credit {
  padding: 2rem;
  padding-top: 3rem;

  &__title {
    position: relative;
    color: #fee42e;
    font-weight: 600;
    font-size: 24px;
    margin-top: 1rem;
    text-transform: uppercase;

    &::before {
      display: block;
      position: absolute;
      content: "";
      bottom: -14px;
      left: 0;
      width: 95px;
      height: 2px;
      background-color: #ffffff;
    }
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: #ffffff;
  }
}

.credit-list {
  color: #ffffff;
  font-size: 12px;
  list-style-type: none;
  padding-left: 0;

  &__item {
    line-height: 30px;

    &:nth-last-child(1) {
      margin-left: 20px;
    }
  }

  &__img {
    margin-right: 0.5rem;
  }

  &__white {
    font-weight: 600;
  }
}

.adviser {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  background-color: #fde42d;
  line-height: 20px;
  text-align: center;
  transform: rotate(-20deg);
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.11);
  z-index: 888;
  overflow: hidden;

  &__title {
    position: relative;
    color: #2c277b;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    z-index: 5;
    overflow: hidden;
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 400;
    z-index: 5;
  }

  &__ellipse {
    position: absolute;
    bottom: -85px;
    right: -40px;
    transform: rotate(242deg);
    background-color: #ffffff;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.11);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 4;
  }

}

@media (min-width: 992px) {
  .credit {
    &__title {
      font-size: 36px;
    }

    &__subtitle {
      font-size: 22px;
      font-weight: 300;
      color: #ffffff;
    }
  }

  .credit-list {
    font-size: 15px;

    &__item {
      line-height: 36px;

      &:nth-last-child(1) {
        margin-left: 20px;
      }
    }

  }
}

//FORM
.form {
  position: relative;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;

  &--border::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    border-bottom: 5px solid #088f6e;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }

  &__title {
    font-weight: 600;
    font-size: 16px;
    padding: 1rem 0;
    text-align: center;
  }

  &__end {
    padding: 0.5rem 0;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    position: relative;


  }
}

.form-control {
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 400;
  color: #000000;

  &::placeholder {
    color: #888888;
  }

  &--black {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    color: #000000;
    text-align: center;
  }

  &::placeholder {
    color: #000000;
  }
}

.form-group {
  padding: 1rem 0;
}

.col-form-label {
  font-size: 14px;
  font-weight: 400;
  color: #000000;
}

.form-check-input {
  border-radius: 0;
  background-color: #000000;
}

.form-check-label {
  font-size: 9px;
  line-height: 11px;
  font-weight: 300;
  color: #000000;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  border-radius: 5px;
  background: #05932d;
  color: #05932d;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #05932d;
  background: url('/assets/img/slider.png');
  cursor: pointer;

}


input[type=range]::-moz-range-thumb {

  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url('/assets/img/slider.png');
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: url('/assets/img/slider.png');
  cursor: pointer;
}

@media (min-width: 768px) {
  .credit {
    padding-bottom: 6rem;
  }
}

@media (min-width: 992px) {
  .credit {
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-top: 4rem;
  }

  .adviser {
    margin-top: 3rem;
  }

  .form-group {
    padding: 0;
  }
}

@media (min-width: 1500px) {
  .credit {
    padding-right: 5rem;
    padding-left: 0rem;
  }
}

@media (min-width: 1750px) {
  .credit {
    margin-right: 4rem;
  }
}
