.header {
  max-width: 100%;
  height: auto;
  background-image: url('/assets/png/header/header.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  height: 450px;
  height: 100vh;
  overflow: hidden;
}

.navbar {
  padding: 1rem 0;
}

.header-logo {
  max-width: 100%;
  height: auto;
}

.navbar-toggler {
  outline: none;
  border: none;
}

.navbar-collapse {
  border-radius: 10px;
  margin-top: 1.5rem;
  background-color: rgba(0, 0, 0, 0.40);
}

@media (min-width: 992px) {
  .navbar-collapse {
    margin-top: 0;
    background-color: transparent;
  }
}

.custom-list {
  margin-bottom: 0;
}

.nav-link {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  border: none;
  transition: 0.3s ease;

  &--effect:hover {
    color: #fdd920;
  }

  &--phone {
    font-weight: 400;
    font-size: 18px;
    color: #ffffff;
  }

  &--gray {
    color: #cccccc;
  }
}
