.header {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100%;
  background-image: url('/./assets/img/header/header_img_small.jpg');
  background-repeat: no-repeat;
  background-position: 36% -4%;
}

@media (min-width: 576px) {

  .header {
    background-position-x: 50%;
   }
}
@media (min-width: 768px) {

  .header {
    background-position-x: 70%;
   }
}
@media (min-width: 992px) {

  .header {
    background-image: url('/./assets/img/header/header_img.jpg');
    background-position: 35% 0%;
   }
  }

@media (min-width: 1200px) {

  .header {
    background-position-x: 45%;
  }   
}