<footer class="footer">
  <div class="container">
    <p class="footer-text">Kredyt hipoteczny to długoterminowy kredyt bankowy przeznaczony na zakup mieszkania,
      działki, budowę domu lub
      remont. Przy zakupie nieruchomości ustanawiana jest hipoteka na rzecz banku kredytującego. Oczywiście oprócz
      takiego zabezpieczenia wobec banku kredytobiorca zobowiązuje się do spłaty całości kapitału z odsetkami.
    </p>
    <p class="footer-text">Dane osobowe zbierane przez Administratora danych poprzez stronę internetową
      www.bkrkredyt.pl zbierane są w celu
      możliwości dalszej komunikacji z klientem (jeśli wyraził taką potrzebę w formularzu lub czacie) na podstawie art.
      6 ust. 1 b) RODO. Dodatkowo wyrażona zgoda pozwoli nam optymalizować treści i działania marketingowe pod kątem
      Twoich zainteresowań i potrzeb.
    </p>
    <p class="footer-text footer-text--bold">Kim jest Administrator Twoich danych osobowych?</p>
    <dl class="footer-list footer-list--dl">
      <li class="footer-list__item footer-list__item--empty">Kazimierza 18, 35-068 Rzeszów, adres email:
        <span class="footer-list__item--black">biuro@rzeszowkredyty.pl, </span>NIP: 7931625964
      </li>
    </dl>
    <ol class="footer-list" start="2">
      <li class="footer-list__item">Administrator przewiduje następujące sposoby kontaktowania się z
        Użytkownikiem/Klientem:
        <ul class="footer-list footer-list--ul">
          <li class="footer-list__item">na adres poczty elektronicznej lub numer telefonu podany przez
            Użytkownika/Klienta w formularzach lub poprzez czat</li>
        </ul>
      </li>
      <li class="footer-list__item">Użytkownik/Klient może kontaktować się z Administratorem za pomocą:
        <ul class="footer-list footer-list--ul">
          <li class="footer-list__item">poczty elektronicznej <span
              class="footer-list__item--black">biuro@rzeszowkredyty.pl</span></li>
          <li class="footer-list__item">na adres korespondencyjny „Biuro Kredytowe BKR” Michał Partyka ul. Króla
            Kazimierza 18, 35-068 Rzeszów</li>
          <li class="footer-list__item">telefonicznie na nr telefonów: 664 384 397, 514 286 842</li>
          <li class="footer-list__item">poprzez formularze i czat na stronie <span
              class="footer-list__item--black">www.bkrkredyt.pl</span></li>
        </ul>
      </li>
      <li class="footer-list__item">Usługi świadczone drogą elektroniczną przez stronę www.bkrkredyt.pl to formularze
        kontaktowe i czat (wyłącznie
        do celów komunikacyjnych).</li>
      <li class="footer-list__item">Treści publikowane na stronie internetowej <span
          class="footer-list__item--black">www.bkrkredyt.pl </span>chronione są prawami
        autorskimi.</li>
      <li class="footer-list__item">Zamieszczone oferty mają charakter informacyjny i nie stanowią oferty handlowej w
        rozumieniu art. 66 §1
        Kodeksu
        Cywilnego</li>
    </ol>
  </div>
  <div class="container social justify-content-lg-end">
    <div class="row social--position">
      <a class="social__link" href="https://facebook.com" target="_blank">
        <img class="social__img" src="./assets/svg/facebook.svg" alt="Facebook">
      </a>
      <a class="social__link" href="https://linkedin.com" target="_blank">
        <img class="social__img" src="./assets/svg/linkedin.svg" alt="LinkedIn">
      </a>
      <a class="social__link" href="https://google.com" target="_blank">
        <img class="social__img social__img--biggest" src="./assets/svg/google-plus.svg" alt="Google+">
      </a>
      <p class="social__text">Realizacja: <span class="social__text--roxart">roxart</span> <small
          class="social__text--reg">&reg;</small></p>
    </div>
  </div>
</footer>
