<section class="how">
  <div class="container pt-5">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6 info">
        <h4 class="info__subtitle">Budujesz? Kredyt hipoteczny Ci pomoże</h4>
        <p class="info__text">Panuje powszechne przekonanie, że kredyt hipoteczny można przeznaczyć wyłącznie na zakup
          mieszkania lub domu.
          Tymczasem istnieje kredyt przyznawany na inwestycję budowlaną – zwany budowlano-hipotecznym. Działania w jego
          zakresie obejmują budowę i rozbudowę, dokończenie remontu nieruchomości czy też adaptację budynku
          mieszkalnego. Kredytem można refinansować poniesione na inwestycję koszty, a także przenieść kredyt do banku z
          lepszą ofertą.</p>
      </div>
      <div class="col-12 col-lg-6 info">
        <h4 class="info__subtitle">Na czym polega kredyt hipoteczno-budowlany?</h4>
        <p class="info__text">Docelowo służy finansowaniu budowy domu lub mieszkania. Jego część można również
          przeznaczyć na zakup działki
          budowlanej. Wypłata środków dzielona jest na transze przelewane na rachunek klienta uzależnionych od postępów
          w pracach. W kredycie hipoteczno-budowlanym wyróżnia się dwie fazy: pierwsza – budowlana, średnio trwa 3 lata
          w czasie których spłaca się same odsetki i druga – hipoteczna, gdy spłacane są raty kapitałowe.</p>
      </div>
      <h2 class="info__title">Zobacz jakie to proste i wygodne</h2>
    </div>
  </div>
</section>

<section class="description">
  <div class="container mb-5">
    <div class="row row-pos justify-content-center">
      <div class="col-10 col-sm-6 col-md-4 col-lg">
        <div class="card">
          <div class="img-box">
            <img class="card-img-top img-box__img" src="./assets/img/howit/how1.png" alt="Card image cap">
            <span class="img-box__number">1</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Określasz swoje potrzeby</h5>
            <p class="card-text">Sprecyzuj swoje potrzeby, dotyczące kredytu w formularzu na stronie</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg">
        <div class="card">
          <div class="img-box">
            <img class="card-img-top img-box__img" src="./assets/img/howit/how2.png" alt="Card image cap">
            <span class="img-box__number">2</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Nasz doradca skontaktuje się z Tobą</h5>
            <p class="card-text">Wybierzemy dla Ciebie najlepsze i najkorzystniejsze rozwiązanie</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg">
        <div class="card">
          <div class="img-box">
            <img class="card-img-top img-box__img" src="./assets/img/howit/how3.png" alt="Card image cap">
            <span class="img-box__number">3</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Spotykamy się</h5>
            <p class="card-text">Spotkamy się w naszym biurze i omówimy szczegóły przedstawionych ofert</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg">
        <div class="card">
          <div class="img-box">
            <img class="card-img-top img-box__img" src="./assets/img/howit/how4.png" alt="Card image cap">
            <span class="img-box__number">4</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Finalizujemy współpracę</h5>
            <p class="card-text">Ograniczymy Tobie formalności do minimum, a my zajmiemy się resztą</p>
          </div>
        </div>
      </div>
      <div class="col-10 col-sm-6 col-md-4 col-lg">
        <div class="card">
          <div class="img-box">
            <img class="card-img-top img-box__img" src="./assets/img/howit/how5.png" alt="Card image cap">
            <span class="img-box__number">5</span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Cieszysz się kredytem</h5>
            <p class="card-text">Ty cieszysz się z kredytu, a my z tego, że mogliśmy pomóc</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
