@import "carousel";
@import "node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');


body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255, 255, 255);
}

.btn {
  width: 226px;
  height: 50px;
  background: linear-gradient(#FEE731, #FCCE12);
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
  outline: none;
  border: none;

  &:hover {
    color: #ffffff;
    transform: scale(0.9);
  }
}

.btn-more {
  font-weight: 400;
  font-size: 10px;
  color: #05932D;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  transition: 0.3s linear;

  &:hover {
    color: #0c6f28;
  }
}

.morecontent span {
  display: none;
}

// @include media-breakpoint-up(md) {
//   .owl-prev {
//     left: -38px;
//   }

//   .owl-next {
//     right: -38px;
//   }
// }

// @include media-breakpoint-up(lg) {
//   .owl-prev {
//     left: -50px;
//   }

//   .owl-next {
//     right: -50px;
//   }
// }

// ul {
//   list-style-type: none;
//   margin: 0;
//   padding: 0;
// }

// li {
//   text-decoration: none;
// }
