@import "variables";
@import "carousel";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

.btn {
  width: 226px;
  height: 50px;
  background: linear-gradient(#FEE731, #FCCE12);
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}


@include media-breakpoint-up(md) {
  .owl-prev {
    left: -30px;
  }

  .owl-next {
    right: -30px;
  }
}

@include media-breakpoint-up(lg) {
  .owl-prev {
    left: -50px;
  }

  .owl-next {
    right: -50px;
  }
}
