@import "variables";
@import "carousel";
@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: "Montserrat", sans-serif;
  background-color: #ffffff;
}

.btn {
  width: 226px;
  height: 50px;
  background: linear-gradient(#FEE731, #FCCE12);
  color: #000000;
  font-weight: 600;
  text-transform: uppercase;
}

.btn-more {
  font-weight: 400;
  font-size: 10px;
  color: #05932D;
  cursor: pointer;
  outline: none;
  text-decoration: none;

  &:hover {
    color: #0c6f28;
  }
}

.morecontent span {
  display: none;
}



@include media-breakpoint-up(md) {
  .owl-prev {
    left: -38px;
  }

  .owl-next {
    right: -38px;
  }
}

@include media-breakpoint-up(lg) {
  .owl-prev {
    left: -50px;
  }

  .owl-next {
    right: -50px;
  }
}
