<nav class="navbar navbar-expand-lg bg-transparent">
    <a class="navbar-brand pr-lg-5" href="#"><img class="navbar-logo" src="./assets/img/logo.png" alt="Logo" /></a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="my-1 mx-2 close">X</span>
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mobileMenu">
        <ul class="navbar-nav mr-auto text-center nav-link--effect">
            <li class="nav-item pt-3 pb-3 p-lg-0 pr-lg-3">
                <a class="nav-link nav-link--effect" href="#">Dlaczego BKR?</a>
            </li>
            <li class="nav-item pt-3 pb-3 p-lg-0 pr-lg-3">
                <a class="nav-link nav-link--effect" href="#">Jak to działa</a>
            </li>
            <li class="nav-item pt-3 pb-3 p-lg-0 pr-lg-3">
                <a class="nav-link nav-link--effect" href="#">Nasz zespół</a>
            </li>
        </ul>
        <ul class="navbar-nav custom-list text-center text-lg-right">
            <li class="nav-link nav-link--phone pt-5 p-lg-0">
                <img class="navbar-icon" src="./assets/img/phone-white.png" alt="Phone">+48 17 700 72 33
            </li>
            <li class="nav-link nav-link--gray pt-2 pb-0 p-lg-0">
                pon-pt 9:00-17:00
            </li>
            <li class="nav-link nav-link--gray pt-0 pb-3 p-lg-0">
                biuro@rzeszowkredyty.pl
            </li>
        </ul>
    </div>
</nav>