<section class="numbers">
  <div class="container con-numb">
    <div class="row in-numbers justify-content-center">
      <h2 class="in-numbers__title"><span class="in-numbers__title--bkr">Bkr </span>w liczbach</h2>
      <div class="number">
        <p class="number__increment">252</p>
        <p class="number__text">zadowolonych klientów</p>
      </div>
      <div class="number">
        <p class="number__increment">189,7 <span class="number__increment--mln">mln zł</span></p>
        <p class="number__text">suma przyznanych kredytów</p>
      </div>
      <div class="number">
        <p class="number__increment">6</p>
        <p class="number__text">profesjonalnych doradców</p>
      </div>
    </div>
    <div class="row opinions">
      <div class="col col-lg-8">
        <div class="opinion">
          <h2 class="opinion__title">Opinie naszych klientów</h2>
          <p class="opinion__text">Sądziłam, że uzyskanie gotówki jakiej nagle potrzebowałam to będzie
            “droga przez mękę”. Okazało się, że Pan Michał przejął za mnie
            załatwianie wszystkich formalności i papierów. Dzięki temu szybko i na
            spokojnie dostałam kredyt.</p>
          <p class="opinion__recommend">Polecam Biuro Kredytowe BKR Anna z Rzeszowa </p>
        </div>
      </div>
      <div class="col col-lg-4 photo"></div>
    </div>
  </div>
</section>
