<section class="cta">
  <div class="container">
    <div class="row cta-row">
      <div class="col-12 col-lg-4 cta-col text-lg-left">
        <p class="cta-col__text">Chcesz dołączyć do grona</p>
        <p class="cta-col__text cta-col__text--semibold">Zadowolonych klientów BKR?</p>
      </div>
      <div class="col-12 col-lg-4 cta-col">
        <button class="btn">Chcę pożyczkę</button>
      </div>
      <div class="col-12 col-lg-4 cta-col">
        <p class="cta-col__text text-lg-right">Kontakt z doradcą</p>
        <p class="cta-col__text cta-col__text--semibold text-lg-right"><img src="assets/img/phone-black.png"
            alt="Phone">
          (+48) 17 770
          72 33</p>
      </div>
    </div>
  </div>
</section>
