<section class="advantages">
  <div class="container ">
    <div class="row justify-content-center align-items-start pt-3">
      <div class="col-12 col-lg-3 p-3">
        <h4 class="advantages__title">Pracujemy dla Ciebie</h4>
        <p class="advantages__text more">Panuje powszechne
          przekonanie,że kredyt hipoteczny można przeznaczyć wyłącznie na zakup mieszkania lub domu. Tymczasem istnieje
          kredyt przyznawany na inwestycję budowlaną – zwany budowlano-hipotecznym. Działania w jego.
        </p>
      </div>
      <div class="col-12 col-lg-3 p-3">
        <h4 class="advantages__title">Działamy w prosty sposób</h4>
        <p class="advantages__text more">Docelowo służy finansowaniu budowy domu lub mieszkania. Jego część można
          równieżkkkkkkkkkk 999990 0000000
          przeznaczyć na zakup działki.</p>
      </div>
      <div class="col-12 col-lg-3 p-3">
        <h4 class="advantages__title">Działamy w prosty sposób</h4>
        <p class="advantages__text more">Docelowo służy finansowaniu budowy domu lub mieszkania. Jego część można
          również
          przeznaczyć na zakup działki.</p>
      </div>
      <div class="col-12 col-lg-3 p-3">
        <h4 class="advantages__title">Działamy w prosty sposób</h4>
        <p class="advantages__text more">Docelowo służy finansowaniu budowy domu lub mieszkania. Jego część można
          również
          przeznaczyć na zakup działki.</p>
      </div>
    </div>
  </div>
</section>
