<section class="advantages pb-4">
  <div class="container pl-4 pl-sm-0 pl-lg-5">
    <div class="row justify-content-center align-items-start pt-3">
      <div class="col-10 col-sm-5 col-lg-3 p-1">
        <h4 class="advantages__title border-bottom-line"><img class="advantages__img"
            src="./assets/img/advantages/advant1.png" alt="hand">
          Pracujemy
          dla Ciebie</h4>
        <p class="advantages__text more">Zaangażowanie i oddanie naszego zespołu przejawia się w ciągle
          powiększającej
          się ilości współpracujących z nami. Zaangażowanie i oddanie naszego zespołu przejawia się w ciągle
          powiększającej się ilości współpracujących z nami.
        </p>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 p-1">
        <h4 class="advantages__title border-bottom-line"><img class="advantages__img"
            src="./assets/img/advantages/advant2.png" alt="hand">Działamy
          w
          prosty sposób</h4>
        <p class="advantages__text more">Wychodzimy z założenia, że naszym zadaniem jest otoczenie Ciebie
          kompleksową
          opieką, dlatego nie tylko słuchamy, analizujemy. Wychodzimy z założenia, że naszym zadaniem jest otoczenie
          Ciebie kompleksową
          opieką, dlatego nie tylko słuchamy, analizujemy.</p>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 p-1">
        <h4 class="advantages__title border-bottom-line"><img class="advantages__img"
            src="./assets/img/advantages/advant3.png" alt="hand">Bez
          opłat
          wstępnych</h4>
        <p class="advantages__text more">Spotkanie z naszym ekspertem nie wiąże się z ponoszeniem przez Ciebie
          żadnych
          dodatkowych kosztów. Spotkanie z naszym ekspertem nie wiąże się z ponoszeniem przez Ciebie żadnych dodatkowych
          kosztów.</p>
      </div>
      <div class="col-10 col-sm-5 col-lg-3 p-1">
        <h4 class="advantages__title border-bottom-line"><img class="advantages__img"
            src="./assets/img/advantages/advant4.png" alt="hand">Spotkajmy się
        </h4>
        <p class="advantages__text more">Spotkajmy się w naszym biurze
          w centrum Rzeszowa albo dojedziemy w wybrane przez Ciebie miejsce. Spotkajmy się w naszym biurze
          w centrum Rzeszowa albo dojedziemy w wybrane przez Ciebie miejsce.</p>
      </div>
    </div>
  </div>
</section>