.advantages {
  background-color: #f5f5f5;

  &__title {
    position: relative;
    font-size: 14px;
    font-weight: 600;
    color: #000000;

    &::before {
      display: block;
      position: absolute;
      content: "";
      bottom: -14px;
      left: 0;
      width: 65px;
      height: 1px;
      background-color: #fcd014;
    }

    &::after {
      content: "";
      background-image: url('/assets/png/hands.png');
      background-repeat: no-repeat;
      display: block;
      position: absolute;
      top: 4px;
      left: -32px;
      height: 28px;
      width: 28px;
    }
  }

  &__text {
    display: inline-block;
    padding-top: 1rem;
    width: 90%;
    font-weight: normal;
    font-size: 12px;
    color: #707070;
    transition: 0.3s ease;
  }
}
