@import "custom-variables";
.credit {
  &__title {
    position: relative;
    color: $color-yellow;
    font-weight: 600;
    font-size: 36px;
    margin-top: 1rem;
    text-transform: uppercase;
    max-width: 13ch;
  }

  &__subtitle {
    font-size: 18px;
    font-weight: 300;
    color: $color-white;
  }
}

.credit-list {
  color: $color-white;
  font-size: 12px;
  list-style-type: none;
  padding-left: 0;

  &__item {
    line-height: 30px;

    &:nth-last-child(1) {
      margin-left: 20px;
    }
  }

  &__img {
    margin-right: 0.5rem;
  }

  &__white {
    font-weight: 600;
  }
}
