<section class="credit mt-4 mb-4 mt-lg-5">
    <h2 class="credit__subtitle">Kredyt hipotetyczny</h2>
    <h1 class="credit__title border-bottom-line">Dobry start w przyszłość</h1>
    <ul class="credit-list mt-4">
        <li class="credit-list__item">
            <img class="credit-list__img" src="/assets/img/header/fine.png" alt="Marked" />„0%” prowizji lub
            <span class="credit-list__white"> „obniżona marża”</span>
        </li>
        <li class="credit-list__item">
            <img class="credit-list__img" src="/assets/img/header/fine.png" alt="Marked" />
            <span class="credit-list__white">bezpłatna</span>
            pomoc doradcy
        </li>
        <li class="credit-list__item">
            <img class="credit-list__img" src="/assets/img/header/fine.png" alt="Marked" />elastyczne formy <span
                class="credit-list__white">współpracy</span>
        </li>
        <li class="credit-list__item">
            <img class="credit-list__img" src="/assets/img/header/fine.png" alt="Marked" /><span
                class="credit-list__white">kredytowanie</span>
            do 90%
        </li>
        <li class="credit-list__item">wartości nieruchomości</li>
    </ul>
</section>