<div class="container mt-5 mb-5 team">
  <h2 class="team__title">Poznaj naszych doradców</h2>
  <p class="team__text">Masz pytanie? Skontaktuj się z nami. Nie pobieramy opłat wstępnych.</p>

  <div class="owl-carousel owl-theme">
    <div class="item mr-3 ml-3">
      <div class="card">
        <img class="card-img-top" src="./assets/img/teams/person1.png" alt="Person">
        <div class="card-body">
          <h5 class="card-title">Wojciech Urban</h5>
          <p class="card-subtitle">Doradca klienta indywidualnego</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/phone-green.png" alt="Phone"> (+48)
            17
            770 72 33</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/email.svg"
              alt="Email">w.urban@rzeszowkredyty.pl</p>
        </div>
      </div>
    </div>
    <div class="item mr-3 ml-3">
      <div class="card">
        <img class="card-img-top" src="./assets/img/teams/person2.png" alt="Person">
        <div class="card-body">
          <h5 class="card-title">Michał Partyka</h5>
          <p class="card-subtitle">Właściciel</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/phone-green.png" alt="Phone"> (+48)
            17
            770 72 33</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/email.svg"
              alt="Email">partyka@rzeszowkredyty.pl</p>
        </div>
      </div>
    </div>
    <div class="item mr-3 ml-3">
      <div class="card">
        <img class="card-img-top" src="./assets/img/teams/person3.png" alt="Person">
        <div class="card-body">
          <h5 class="card-title">Nikodem Goraj</h5>
          <p class="card-subtitle">Doradca klienta biznesowego</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/phone-green.png" alt="Phone"> (+48)
            17
            770 72 33</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/email.svg"
              alt="Email">n.goraj@rzeszowkredyty.pl</p>
        </div>
      </div>
    </div>
    <div class="item mr-3 ml-3">
      <div class="card">
        <img class="card-img-top" src="./assets/img/teams/person2.png" alt="Person">
        <div class="card-body">
          <h5 class="card-title">TEST</h5>
          <p class="card-subtitle">Doradca klienta testowego</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/phone-green.png" alt="Phone"> (+48)
            17
            770 72 33</p>
          <p class="card-text"><img class="card-text__img" src="./assets/img/teams/email.svg"
              alt="Email">w.urban@rzeszowkredyty.pl</p>
        </div>
      </div>
    </div>
  </div>

  <h3 class="team__address">Zapraszamy do naszego biura. <span class="team__address--bold">Rzeszów ul. Króla Kazimierza
      18, piętro I</span></h3>
</div>
