@import "custom-variables";
.whybkr {
  position: relative;

  &__title {
    font-size: 36px;
    font-weight: 600;
    color: $color-black;
    word-break: normal;

    &--bkr {
      color: $color-yellow;
      text-transform: uppercase;
    }
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 300;
    color:$color-black;
    margin-bottom: 2rem;
  }
}

.photo {
  height: 500px;
  width: 100%;
  background-image: url("/assets/img/whybkkr/family.png");
  background-repeat: no-repeat;
  background-size: center;
  background-position: 50% 50%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  filter: contrast(142%);
}

.card-horizontal {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: center;
  margin: 1rem 0;
}

.img-square-wrapper {
  flex: 1 1 25%;
  text-align: center;
  margin-top: 1rem;

  &__img {
    width: 80%;
    padding-left: 0.8rem;
  }
}

.card {
  position: relative;
  border: 0;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.06);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.card-body {
  flex: 1 1 80%;
  padding: 0.8rem;
}

.card-title {
  font-weight: 600;
  font-size: 14px;
  color: $color-black;
}

.card-text {
  font-size: 14px;
  font-weight: 300;
  color: $color-gray-heavy;
  line-height: 18px;
}

@media (min-width: 992px) {
  .max-width {
    max-width: 720px;
  }
}
