<section class="whybkr">
  <div class="container mt-5 mb-5">
    <h2 class="whybkr__title">Dlaczego warto pożyczać za pośrednictwem <span class="whybkr__title--bkr">bkr </span>?
    </h2>
    <h3 class="whybkr__subtitle">Odzyskaj spokój finansowy, wybierz ofertę szytą na Twoją miarę</h3>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-5">
        <div class="photo"></div>
      </div>
      <div class="col-12 col-lg-7">
        <div class="row justify-content-center">
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Sprawność działania</h4>
                  <p class="card-text">Wsparcie w poprawnym wypełnianiu wniosku</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr2.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Minimum formalności</h4>
                  <p class="card-text">pomoc w szybkim uzyskaniu dokumentów nieruchomości</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr3.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Współpraca z najlepszymi</h4>
                  <p class="card-text">wybierasz najlepsze oferty na rynku</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card card--border">
              <div class="card-horizontal card-horizontal--border">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr4.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Indywidualna oferta</h4>
                  <p class="card-text">wiemy jaka oferta Cię usatysfakcjonuje</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr5.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Osobisty doradca</h4>
                  <p class="card-text">pomaga Ci nasz specjalista</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/png/whybkr6.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Brak opłat za porady</h4>
                  <p class="card-text">oszczędzasz pieniądze</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
