<section class="whybkr overflow-hidden">
  <div class="container-fluid mt-5 mb-5 p-lg-0">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="whybkr__title p-1">Dlaczego warto pożyczać za pośrednictwem <span class="whybkr__title--bkr">bkr
            </span>?
          </h2>
          <h3 class="whybkr__subtitle">Odzyskaj spokój finansowy, wybierz ofertę szytą na Twoją miarę
          </h3>
        </div>
      </div>
    </div>
    <div class="row justify-content-center justify-content-lg-end">
      <div class="col-12 col-lg-4 p-0">
        <div class="photo"></div>
      </div>
      <div class="col-12 col-sm-10 col-lg-8">
        <div class="row justify-content-center max-width pr-lg-5 pl-xl-5 pr-xl-0">
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why1.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Sprawność działania</h4>
                  <p class="card-text">Wsparcie w poprawnym wypełnianiu wniosku</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why2.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Minimum formalności</h4>
                  <p class="card-text">pomoc w szybkim uzyskaniu dokumentów nieruchomości</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why3.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Współpraca z najlepszymi</h4>
                  <p class="card-text">wybierasz najlepsze oferty na rynku</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card card--border">
              <div class="card-horizontal card-horizontal--border">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why4.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Indywidualna oferta</h4>
                  <p class="card-text">wiemy jaka oferta Cię usatysfakcjonuje</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why5.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Osobisty doradca</h4>
                  <p class="card-text">pomaga Ci nasz specjalista</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="card">
              <div class="card-horizontal">
                <div class="img-square-wrapper">
                  <img class="img-square-wrapper__img" src="./assets/img/whybkkr/why6.png" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h4 class="card-title">Brak opłat za porady</h4>
                  <p class="card-text">oszczędzasz pieniądze</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
